.Welcome{
	position: absolute;
	top:100px;
	width:100%;
}
.indexbody{
	padding:40px;
}

.buttonwrapper{
	text-align: center;
}

.buttonwrapper button{
	top:0%;
}

.col-centered{
	float:none;
	margin: 0 auto;
}